* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
}
header {
  height: 20vh;
  width: 100vw;
  background: #424249;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: white;
}
.display {
  height: 200vh;
  width: 100vw;
  background: #54D2E5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 40px;
  padding-top: 40px;
  box-sizing: content-box;
}
.resorts {
  height: 30vh;
  width: 80vw;
  background: white;
  margin-bottom: 40px;
  text-align: left;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.resort-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button-holder {
  width: 80vw;
  display: flex;
  justify-content: center;
}
.edit-holder {
  height: 30vh;
  width: 80vw;
  background: #424249;
}